input[type=number]
{
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  margin-left: 5px;
}

table th{
  text-align: center !important;
}

.btnList{
  cursor: pointer;
}

.btnList:hover {
  box-shadow: 1px 1px 10px grey;
}

.btnBg{
  background-image: url("../images/bg_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textNum{
  text-align: right;
}
